ul{

    overflow:hidden !important;
    padding-left:20px !important;
}
li{

}

.margines-lewy{
margin-left:20px !important ;    
    
}

.czerwony:hover{
    background-color:red !important;
    color:red !important;
}

th,td{
padding:5px !important;   

}


.lapka{
    cursor:pointer ;
    
}

.wymiar5{
    width:50%;
}

.srodek{
margin-left:50%;
transform: translate(-50%);
}
.min20{
    min-width:200px;
    width:50%;
}

.border-grubszy{
    border-width:20px;
    border:solid;
}
.gorny{
    margin-top:200px;
}

.m_gorny10{
    margin-top:90px;
}

input.dopasuj{
    width:45%;
    height:auto;
    display:inline-block;
    clear:both;
}
.inline-blok{
    display:inline-block !important;
}

#header{
    background-color:lightgray;
    color:white;
    text-align:center;
    padding:15px;
    width:1000px;
    
    border-radius:10px;
    position:fixed;
}

.wysrodkuj-relative {
   position:relative;
   /*top: 50%;*/
   left: 50%;
   transform: translate(-50%);
}

.wysrodkuj {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#nav{
    float:left;
    background-color:lightgray;
    width:180px;
    min-height:620px;
    padding:10px;
    text-align:left;
}

button.wyszukaj{
    font-size: 25px;
    background-color:blue;
    color:white;
    border-radius:10px;
}
button.rejestracja{
    font-size: 25px;
    background-color:lightgray;
    color:white;
    border-radius:10px;
}
button.zaloguj{
  font-size: 25px;
  background-color:lightgreen;
  color:white;
  border-radius:10px;
}
button.wyloguj{
  font-size: 25px;
  background-color:brown;
  color:white;
  border-radius:10px;
}
input.wyszukaj{
    font-size: 25px;
    width:220px;
    
    background-color:white;
    color:brown;
    border-radius:10px;
}
input.uzytkownik{
    font-size: 25px;
    width:130px;
    background-color:white;
    color:brown;
    border-radius:10px;
}
input.haslo{
    font-size: 25px;
    width:100px;
    background-color:white;
    color:brown;
    border-radius:10px;
}
div.prawy{
  text-align:right;
   
}
.oplyw{
   display:inline-block;
}
.oplyw1{
   display:inline-block;
   width:50px;
}
div.oplyw-ramka{
    display:inline-block;
    border-color:lightgreen !important;
    border-width:5px !important;
    border:solid;
    border-radius:8px;
}
#content{
    float:left;
    padding:20px;
    width:640px;
    text-align:center;
    margin-top:70px;
}
#aside{
    float:left;
    width:160px;
    mid-height:620px;
    padding:10px;
    background-color:lightgray;
    text-align:right;
}
#footer{
    clear:both;
    background-color:black;
    color:white;
    text-align:center;
    padding:20px;
}
.podkresl{
    text-decoration:underline;
    border:solid;
}
div.ramka{
border:solid;    
display:inline-block;
position:relative;
left:50%;

transform:translate(-50%);
    
}
div.zaw{
    display:inline-block;
    border:solid;
    position:fixed;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
}

.obwodka{
    border:solid;
}
}td{
    color:brown;
    border:solid;
}

.gora{
    color:black;
    border:solid;
    border-width:10px;
}

center.skok{
    color:black;
    font-weight:bold;
    background-color:tomato;
    background:lightgray;
}
.kroks{
    color:brown;
    font-weight:bold;
    background-color:aqua;
    background:lightgray;
}
.blad{
    background:red;
    color:yellow;
}

.miasto{
    background:tomato;
    color:pink;
}

input.szer2{
    width:4ch;
}

input.szer3{
    width:5ch;
}
input.szer9{
    width:11ch;
}

/*input.formularz:valid{
    background:lightgreen;
    
}

input.formularz:invalid{
    background:salmon;
    
}*/

input:focus{
    background:aqua;
}

button.przycisk{
    border:solid;
    background:lightgreen;
    border-color:green;
    border-radius:10px;
}

form.tlo{
    background-color:lightblue;
    border:solid;
    border-width:3px;
    border-color:blue;
    padding:20px;
}

.jumpers img
{
	width: 100%;
	height: auto;
}
button.drugi{
    border:solid;
    background:aqua;
    border-radius:10px;
}

.pip{
    color:yellow
}
.pip{
    background:black;
}
.pip{
    border:solid;
    border-color:tomato;
}